<%= form_with model: [:admin, order_item], local: true, class: "mb-5" do |f| %>
  <% ordered_cloth_id = f.object.cloth_id ? f.object.cloth_id : params[:cloth_id] %>
  <div class="row">
    <div class="col-md-6" id="orderItemImgCarousel" data-img-placeholder="<%= asset_path('cloth_choose_tip.svg') %>">
      <% if ordered_cloth_id.present? && (cloth = Cloth.find(ordered_cloth_id)).present? %>
        <%= render "admin/cloths/cloth_img_carousel", cloth: cloth %>
      <% else %>
        <%= image_tag "cloth_choose_tip.svg", class: "w-100" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="form-group <%= order_item.errors[:cloth].present? ? 'has-danger' : '' %>">
        <%= f.label :cloth_id %>
        <%= f.collection_select :cloth_id, scoped_cloths, :id, :code, { prompt: true, selected: ordered_cloth_id }, class: "form-control select2 #{order_item.errors[:cloth].present? ? 'is-invalid' : ''}", required: true %>
        <% if order_item.errors[:cloth].present? %>
    	    <div class="invalid-feedback">
    	      <%= order_item.errors[:cloth].join(", ") %>
    	    </div>
        <% end %>
      </div>
      <div class="form-group <%= order_item.errors[:customer].present? ? 'has-danger' : '' %>">
        <%= f.label :customer_id %>
        <%= f.collection_select :customer_id, Customer.all, :id, :name_or_code, { prompt: true }, class: "form-control #{order_item.errors[:customer].present? ? 'is-invalid' : ''}", required: true %>
        <% if order_item.errors[:customer].present? %>
          <div class="invalid-feedback">
            <%= order_item.errors[:customer].join(", ") %>
          </div>
        <% end %>
      </div>
      <div class="form-group <%= order_item.errors[:amount].present? ? 'has-danger' : '' %>">
        <%= f.label :amount %>
        <%= f.number_field :amount, class: "form-control #{order_item.errors[:amount].present? ? 'is-invalid' : ''}", min: 1, required: true %>
        <% if order_item.errors[:amount].present? %>
    	    <div class="invalid-feedback">
    	      <%= order_item.errors[:amount].join(", ") %>
    	    </div>
        <% end %>
      </div>
      <div class="form-row">
        <div class="form-group col-6 <%= order_item.errors[:deliver_month].present? ? 'has-danger' : '' %>">
          <%= f.label :deliver_month %>
          <%= f.select :deliver_month, (1..12).collect { |m| ["#{m}月",m] }, { include_blank: "未定" }, class: "form-control #{order_item.errors[:deliver_month].present? ? 'is-invalid' : ''}" %>
          <% if order_item.errors[:deliver_month].present? %>
      	    <div class="invalid-feedback">
      	      <%= order_item.errors[:deliver_month].join(", ") %>
      	    </div>
          <% end %>
        </div>
        <div class="form-group col-6 <%= order_item.errors[:deliver_period].present? ? 'has-danger' : '' %>">
          <%= f.label :deliver_period, class: "invisible" %>
          <%= f.collection_select :deliver_period, I18n.t("activerecord.order_item_deliver_period"), :first, :last, { selected: render_deliver_period_selected(order_item) }, class: "form-control #{order_item.errors[:deliver_period].present? ? 'is-invalid' : ''} #{'d-none' unless order_item.deliver_month.present?}" %>
          <% if order_item.errors[:deliver_period].present? %>
            <div class="invalid-feedback">
              <%= order_item.errors[:deliver_period].join(", ") %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-group <%= order_item.errors[:status].present? ? 'has-danger' : '' %>">
        <%= f.label :status %>
        <%= f.collection_select :status, I18n.t("activerecord.order_item_status"), :first, :last, {}, class: "form-control #{order_item.errors[:status].present? ? 'is-invalid' : ''}" %>
        <% if order_item.errors[:status].present? %>
    	    <div class="invalid-feedback">
    	      <%= order_item.errors[:status].join(", ") %>
    	    </div>
        <% end %>
      </div>
      <% if params[:cloth_id].present? %>
        <%= link_to I18n.t("text.cancel"), admin_cloths_path(anchor: "cloth-#{params[:cloth_id]}"), class: "btn btn-link text-danger" %>
      <% else %>
        <%= link_to I18n.t("text.cancel"), admin_order_items_path(anchor: "order_item-#{params[:id]}"), class: "btn btn-link text-danger" %>
      <% end %>
      <%= f.submit class: "btn btn-primary float-right" %>
    </div>
  </div>
<% end %>