<div class="col-sm-6 mb-5">
  <%= render "admin/cloths/cloth_img_carousel", cloth: order_item.cloth %>
</div>
<div class="col-sm-6 mb-5 pr-lg-5" id="order_item-<%= order_item.id %>">
  <div class="list-group list-group-flush">
    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= OrderItem.model_name.human %></h5>
      </div>
      <p class="mb-1 better-spacing">
        #<%= order_item.code %>
      </p>
    </li>

    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= OrderItem.human_attribute_name("cloth_id") %></h5>
      </div>
      <p class="mb-1 better-spacing">
        <% if order_item.cloth.present? %>
          <%= link_to order_item.cloth.code, admin_cloth_path(order_item.cloth) %>
        <% else %>
          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
        <% end %>
      </p>
    </li>

    <li class="list-group-item flex-column align-items-start <%= 'd-print-none' if params[:q].try(:[], :customer_id_eq).present? %>">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= OrderItem.human_attribute_name("customer_id") %></h5>
      </div>
      <p class="mb-1">
        <% if order_item.customer.present? %>
          <%= link_to order_item.customer.name_or_code, admin_customer_path(order_item.customer) %>
        <% else %>
          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
        <% end %>
      </p>
    </li>
    
    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= Cloth.human_attribute_name("supplier_id") %></h5>
      </div>
      <p class="mb-1">
        <% if order_item.cloth.supplier.name.present? %>
          <%= order_item.cloth.supplier.name %>
        <% else %>
          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
        <% end %>
      </p>
    </li>
    
    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= OrderItem.human_attribute_name("amount") %></h5>
      </div>
      <p class="mb-1">
        <% if order_item.amount.present? %>
          <%= order_item.amount %>
        <% else %>
          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
        <% end %>
      </p>
    </li>

    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= OrderItem.human_attribute_name("price") %></h5>
      </div>
      <p class="mb-1">
        <% if order_item.cloth.price.present? %>
          <%= (order_item.cloth.price * (1 - order_item.customer.discount)).to_i %>
        <% else %>
          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
        <% end %>
      </p>
    </li>
    
    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= OrderItem.human_attribute_name("deliver_month") %></h5>
      </div>
      <p class="mb-1">
        <% if order_item.deliver_month.present? %>
          <%= order_item.deliver_time %>
        <% else %>
          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
        <% end %>
      </p>
    </li>
    
    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= OrderItem.human_attribute_name("status") %></h5>
      </div>
      <p class="mb-1 order_item_status"><%= I18n.t "activerecord.order_item_status.#{order_item.status}" %></p>
    </li>

    <li class="list-group-item flex-column align-items-start d-print-none">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">更新時刻</h5>
      </div>
      <p class="mb-1"><%= timeago(order_item.updated_at) %></p>
    </li>

    <li class="list-group-item flex-column align-items-start d-print-none">
      <%= link_to "編集する", edit_admin_order_item_path(order_item), class: "btn btn-primary" %>
      <% if order_item.not_yet_shipped? %>
        <%= link_to I18n.t("activerecord.order_item_status.shipped"), ship_admin_order_item_path(order_item), class: "btn btn-link ship-link", method: :post, remote: true, data: { confirm: "#{Cloth.model_name.human} ##{order_item.code} を#{I18n.t('activerecord.order_item_status.shipped')}？" } %>
      <% elsif order_item.shipped? %>
        <%= link_to I18n.t("activerecord.order_item_status.delivered"), deliver_admin_order_item_path(order_item), class: "btn btn-link deliver-link", method: :post, remote: true, data: { confirm: "#{Cloth.model_name.human} ##{order_item.code} を#{I18n.t('activerecord.order_item_status.delivered')}？" } %>
      <% end %>
      <%= link_to '削除', [:admin, order_item], method: :delete, data: { confirm: "#{order_item.cloth.code} の注文 ##{order_item.code} を削除しますか？" }, class: "btn btn-danger btn-sm float-right" %>
    </li>
  </div>
</div>