<h1 class="h2 d-print-none">
  <%= OrderItem.model_name.human %>履歴
  <%= link_to "#orderItemAdvanceSearch", class: "d-print-none btn btn-outline-secondary float-right d-none d-lg-inline-block", data: { toggle: "collapse" } do %>
  	<%= I18n.t("text.filter") %>
  <% end %>
</h1>
<div class="clearfix"></div>
<div class="d-none d-print-block">
	<h1 class="text-center">
		<span class="h4" style="position: absolute; left: 0; top: 10px;">龍運有限会社 <%= Date.today.strftime("%F") %></span>
		ご<%= OrderItem.model_name.human %>履歴
		<% if params[:q].try(:[], :customer_id_eq).present? %>
			<span class="h4" style="position: absolute; right: 0; top: 10px;"><%= Customer.model_name.human %>：1234</span>
		<% end %>
	</h1>
</div>
<div class="row" id="orderItemIndex">
  <div class="col-lg-9">
  	<div class="row">
			<%= render @order_items %>
		</div>
	</div>
	<div class="col-lg-3 d-print-none">
		<div class="collapse <%= 'show' if params[:q].present? %>" id="orderItemAdvanceSearch">
			<%= render "filter" %>
		</div>
		<div class="mt-2 <%= 'd-none' unless params[:q].present? %>">
			<%= I18n.t("text.search_result") %>：<%= @order_items.size %>
		</div>
	</div>
</div>
<div class="btn-abs-wrapper">
	<%= link_to new_admin_order_item_path, class: "d-print-none btn btn-success" do %>
		<i class="material-icons">&#xE145;</i>
	<% end %>
	<%= link_to "#", class: "btn btn-secondary d-print-none d-lg-none", data: { toggle: "modal", target: "#searchModal" } do %>
		<i class="material-icons">&#xE8B6;</i>
	<% end %>
	<% if current_user.admin? %>
  	<%= button_tag id: "btnPrint", class: "d-print-none btn btn-info" do %>
  		<i class="material-icons">&#xE2C4;</i>
  	<% end %>
  <% end %>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title" id="exampleModalLabel"><%= I18n.t("text.filter") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<%= render "filter" %>
      </div>
    </div>
  </div>
</div>