<div class="col-sm-6 mb-5 pr-5 row" id="customer-<%= customer.id %>">
	<div class="col-sm-9">
		<div class="list-group list-group-flush">
		  <li class="list-group-item flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1"><%= Customer.human_attribute_name("name") %></h5>
		    </div>
		    <p class="mb-1">
		    	<% if customer.name.present? %>
	          <%= customer.name %>
	        <% else %>
	          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	        <% end %>
	      </p>
		  </li>
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= Customer.human_attribute_name("code") %></h5>
        </div>
        <p class="mb-1">
          <% if customer.code.present? %>
            <%= customer.code %>
          <% else %>
            <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
          <% end %>
        </p>
      </li>
		  <li class="list-group-item flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1"><%= Customer.human_attribute_name("address") %></h5>
		    </div>
		    <p class="mb-1">
		    	<% if customer.address.present? %>
	          <%= customer.address %>
	        <% else %>
	          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	        <% end %>
	      </p>
		  </li>
		  <li class="list-group-item flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1"><%= Customer.human_attribute_name("phone") %></h5>
		    </div>
		    <p class="mb-1">
		    	<% if customer.phone.present? %>
	          <%= customer.phone %>
	        <% else %>
	          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	        <% end %>
	      </p>
		  </li>
		  <li class="list-group-item flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1"><%= Customer.human_attribute_name("company_name") %></h5>
		    </div>
		    <p class="mb-1">
		    	<% if customer.company_name.present? %>
	          <%= customer.company_name %>
	        <% else %>
	          <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
	        <% end %>
	      </p>
		  </li>
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= Customer.human_attribute_name("discount") %></h5>
        </div>
        <p class="mb-1">
          <% if customer.discount.present? %>
            <%= customer.discount %>
          <% else %>
            <span class="text-muted"><%= I18n.t("text.attr_no_value") %></span>
          <% end %>
        </p>
      </li>
		  <li class="list-group-item flex-column align-items-start">
	      <%= link_to I18n.t('text.edit') + "する", edit_admin_customer_path(customer), class: "btn btn-primary" %>
	      <%= link_to I18n.t('text.destroy'), [:admin, customer], method: :delete, data: { confirm: I18n.t("text.confirm_destroy") }, class: "btn btn-danger float-right" %>
	    </li>
		</div>
	</div>
</div>