<%= form_with model: [:admin, customer], local: true, class: "mb-5" do |f| %>
  <div class="offset-sm-3 col-sm-6">
    <div class="form-group <%= customer.errors[:name].present? ? 'has-danger' : '' %>">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control #{customer.errors[:name].present? ? 'is-invalid' : ''}" %>
      <% if customer.errors[:name].present? %>
  	    <div class="invalid-feedback">
  	      <%= customer.errors[:name].join(", ") %>
  	    </div>
      <% end %>
    </div>
  
    <div class="form-group <%= customer.errors[:address].present? ? 'has-danger' : '' %>">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control #{customer.errors[:address].present? ? 'is-invalid' : ''}" %>
      <% if customer.errors[:address].present? %>
  	    <div class="invalid-feedback">
  	      <%= customer.errors[:address].join(", ") %>
  	    </div>
      <% end %>
    </div>
  
    <div class="form-group <%= customer.errors[:phone].present? ? 'has-danger' : '' %>">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control #{customer.errors[:phone].present? ? 'is-invalid' : ''}" %>
      <% if customer.errors[:phone].present? %>
  	    <div class="invalid-feedback">
  	      <%= customer.errors[:phone].join(", ") %>
  	    </div>
      <% end %>
    </div>
  
    <div class="form-group <%= customer.errors[:company_name].present? ? 'has-danger' : '' %>">
      <%= f.label :company_name %>
      <%= f.text_field :company_name, class: "form-control #{customer.errors[:company_name].present? ? 'is-invalid' : ''}" %>
      <% if customer.errors[:company_name].present? %>
  	    <div class="invalid-feedback">
  	      <%= customer.errors[:company_name].join(", ") %>
  	    </div>
      <% end %>
    </div>
  
    <%= link_to I18n.t('text.cancel'), admin_customers_path, class: "btn btn-link text-danger" %>
    <%= f.submit class: "btn btn-primary float-right" %>
  </div>
<% end %>