<tr>
	<td><%= cloth.code %></td>
	<td><%= cloth.jancode %></td>
	<td>S, L, XL</td>
	<td>
		<div class="color-wrapper">
      <%= image_tag "11red.png", style: "max-height: 100px;" %>
      <span>Red</span>
    </div>
    <div class="color-wrapper">
      <%= image_tag "11green.png", style: "max-height: 100px;" %>
      <span>Green</span>
    </div>
    <div class="color-wrapper">
      <%= image_tag "11blue.png", style: "max-height: 100px;" %>
      <span>Blue</span>
    </div>
	</td>
	<td><%= cloth.brand %></td>
	<td><%= cloth.supplier_id %></td>
	<td><%= cloth.price %></td>
</tr>