<div class="col-sm-6 mb-5">
  <%= render "admin/cloths/cloth_img_carousel", cloth: cloth %>
</div>
<div class="col-sm-6 mb-5 pr-lg-5" id="cloth-<%= cloth.id %>">
  <div class="list-group list-group-flush">
    <% if cloth.code.present? %>
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= Cloth.human_attribute_name("code") %></h5>
        </div>
        <p class="mb-1">
          <span class="better-spacing"><%= cloth.code %></span>
        </p>
      </li>
    <% end %>

    <% if cloth.jancode.present? %>
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= Cloth.human_attribute_name("jancode") %></h5>
        </div>
        <p class="mb-1">
          <span class="better-spacing"><%= cloth.jancode %></span>      
        </p>
      </li>
    <% end %>
    
    <% if cloth.brand.present? %>
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= Cloth.human_attribute_name("brand") %></h5>
        </div>
        <p class="mb-1">
          <%= cloth.brand %>
        </p>
      </li>
    <% end %>

    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= Cloth.human_attribute_name("size") %></h5>
      </div>
      <p class="mb-1">
        <span class="mr-2">S</span>
        <span class="mr-2">L</span>
        <span class="mr-2">XL</span>
      </p>
    </li>

    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= Cloth.human_attribute_name("color") %></h5>
      </div>
      <div class="mb-1">
        <div class="color-wrapper">
          <%= image_tag "11red.png", style: "max-height: 100px;" %>
          <span>Red</span>
        </div>
        <div class="color-wrapper">
          <%= image_tag "11green.png", style: "max-height: 100px;" %>
          <span>Green</span>
        </div>
        <div class="color-wrapper">
          <%= image_tag "11blue.png", style: "max-height: 100px;" %>
          <span>Blue</span>
        </div>
      </div>
    </li>
    
    <% if cloth.supplier.present? %>
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= Cloth.human_attribute_name("supplier_id") %></h5>
        </div>
        <p class="mb-1">
          <%= cloth.supplier.name %>
        </p>
      </li>
    <% end %>

    <% if cloth.price.present? %>
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= Cloth.human_attribute_name("price") %></h5>
        </div>
        <p class="mb-1">
          <%= cloth.price %>
        </p>
      </li>
    <% end %>

    <li class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">更新時刻</h5>
      </div>
      <p class="mb-1"><%= timeago(cloth.updated_at) %></p>
    </li>

    <li class="list-group-item flex-column align-items-start">
      <%= link_to I18n.t('text.edit') + "する", edit_admin_cloth_path(cloth), class: "btn btn-primary" %>
      <%= link_to "新しい注文", new_admin_order_item_path(cloth_id: cloth.id), class: "btn btn-link" %>
      <%= link_to I18n.t('text.destroy'), [:admin, cloth], method: :delete, data: { confirm: "#{cloth.code}を削除しますか？" }, class: "btn btn-danger btn-sm float-right" %>
    </li>
  </div>
</div>