<%= link_to admin_cloths_path(anchor: "cloth-#{@cloth.id}"), class: "btn btn-link" do %>
  &#8592; <%= I18n.t('text.back') %>
<% end %>
<h1 class="h2"><%= I18n.t("text.edit") %><%= Cloth.model_name.human %></h1>
<%= render "admin/cloths/form", cloth: @cloth %>