<h1 class="h2">
  <%= Cloth.model_name.human %>
  <%= link_to "登録", new_admin_cloth_path, class: "btn btn-success float-right" %>
</h1>
<table class="table">
  <thead>
    <tr>
      <th style="width: 250px;"><%= Cloth.human_attribute_name('images') %></th>
      <th style="min-width: 180px;"><%= Cloth.human_attribute_name('code') %></th>
      <th><%= Cloth.human_attribute_name('jancode') %></th>
      <th style="min-width: 100px;"><%= Cloth.human_attribute_name('brand') %></th>
      <th style="min-width: 100px;"><%= Cloth.human_attribute_name('supplier_id') %></th>
      <th style="min-width: 100px;"><%= Cloth.human_attribute_name('price') %></th>
      <th>更新時間</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cloths.each do |cloth| %>
      <tr>
        <td><%= render "admin/cloths/cloth_img_carousel", cloth: cloth %></td>
        <td><%= cloth.code %></td>
        <td><%= cloth.jancode %></td>
        <td><%= cloth.brand %></td>
        <td><%= cloth.supplier.name %></td>
        <td><%= cloth.price %></td>
        <td><%= timeago(cloth.updated_at) %></td>
        <td class="text-right">
          <div class="dropdown">
            <button class="btn btn-secondary btn-sm" type="button" data-toggle="dropdown">
              <i class="material-icons">&#xE5D3;</i>
            </button>
            <div class="dropdown-menu">
              <%= link_to '見る', [:admin, cloth], class: "dropdown-item" %>
              <%= link_to "編集", edit_admin_cloth_path(cloth), class: "dropdown-item" %>
              <%= link_to "新しい注文", new_admin_order_item_path(cloth_id: cloth.id), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to '削除', [:admin, cloth], method: :delete, data: { confirm: "#{cloth.code}を削除しますか？" }, class: "dropdown-item" %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(function() {
    $("time.timeago").timeago();
  });
</script>