<h1 class="h2">
  <%= Cloth.model_name.human %>
</h1>
<div class="row">
  <div class="col-lg-9">
  	<div class="row">
    	<%= render @cloths %>
    </div>
  </div>
</div>
<div class="btn-abs-wrapper">
	<%= link_to new_admin_cloth_path, class: "btn btn-success" do %>
		<i class="material-icons">&#xE145;</i>
	<% end %>
	<%= link_to "#", class: "btn btn-secondary d-lg-none", data: { toggle: "modal", target: "#searchModal" } do %>
		<i class="material-icons">&#xE8B6;</i>
	<% end %>
</div>
<% if mobile? %>
	<%= render "admin/common/search_modal" %>
<% end %>