<h1 class="h2">
  <%= Cloth.model_name.human %>
  <% unless not_desktop? %>
	  <%= link_to admin_cloths_path, class: "d-print-none btn btn-link float-right d-none d-lg-inline-block" do %>
	  	<i class="material-icons" style="color: <%= (params[:table].nil? ? 'orangered' : '#ccc') %>;">view_quilt</i>
	  <% end %>
	  <%= link_to admin_cloths_path(table: true), class: "d-print-none btn btn-link float-right d-none d-lg-inline-block" do %>
	  	<i class="material-icons" style="color: <%= (params[:table] == 'true' ? 'orangered' : '#ccc') %>;">view_list</i>
	  <% end %>
	<% end %>
</h1>
<% if params[:table] == "true" %>
	<table class="table">
		<thead>
			<tr>
				<th><%= Cloth.human_attribute_name(:code) %></th>
				<th><%= Cloth.human_attribute_name(:jancode) %></th>
				<th><%= Cloth.human_attribute_name(:size) %></th>
				<th><%= Cloth.human_attribute_name(:color) %></th>
				<th><%= Cloth.human_attribute_name(:brand) %></th>
				<th><%= Cloth.human_attribute_name(:supplier_id) %></th>
				<th><%= Cloth.human_attribute_name(:price) %></th>
			</tr>
		</thead>
		<tbody>
			<%= render partial: "admin/cloths/cloth_table_row", collection: @cloths, as: :cloth %>
		</tbody>
	</table>
<% else %>
	<div class="row">
	  <div class="col-lg-9">
	  	<div class="row">
	    	<%= render @cloths %>
	    </div>
	  </div>
	</div>
<% end %>
<div class="btn-abs-wrapper">
	<%= link_to new_admin_cloth_path, class: "btn btn-success" do %>
		<i class="material-icons">&#xE145;</i>
	<% end %>
	<%= link_to "#", class: "btn btn-secondary d-lg-none", data: { toggle: "modal", target: "#searchModal" } do %>
		<i class="material-icons">&#xE8B6;</i>
	<% end %>
</div>
<% if not_desktop? %>
	<%= render "admin/common/search_modal" %>
<% end %>