<%= link_to admin_cloths_path, class: "btn btn-link" do %>
  &#8592; 返回列表
<% end %>
<%= link_to "編輯", edit_admin_cloth_path(@cloth), class: "btn btn-success float-right" %>
<%= link_to '刪除', [:admin, @cloth], method: :delete, data: { confirm: '確認刪除？' }, class: "btn btn-danger float-right mr-2" %>

<h1 class="h2"><%= Cloth.model_name.human %> #<%= @cloth.id %></h1>

<div class="list-group list-group-flush">
  
  <li href="#" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= Cloth.human_attribute_name("code") %></h5>
    </div>
    <p class="mb-1"><%= @cloth.code %></p>
  </li>
  
  <li href="#" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= Cloth.human_attribute_name("jancode") %></h5>
    </div>
    <p class="mb-1"><%= @cloth.jancode %></p>
  </li>
  
  <li href="#" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= Cloth.human_attribute_name("brand") %></h5>
    </div>
    <p class="mb-1"><%= @cloth.brand %></p>
  </li>

  <li href="#" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= Cloth.human_attribute_name("supplier") %></h5>
    </div>
    <p class="mb-1"><%= @cloth.supplier.name %></p>
  </li>
  
  <li href="#" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= Cloth.human_attribute_name("price") %></h5>
    </div>
    <p class="mb-1"><%= @cloth.price %></p>
  </li>
  
</div>