<h1 class="h2">
  <%= User.model_name.human %><%= I18n.t("text.index") %>
</h1>
<div class="row">
	<div class="col-lg-9">
  	<div class="row">
  		<%= render @users %>
  	</div>
  </div>
</div>
<div class="btn-abs-wrapper">
	<%= link_to new_admin_user_path, class: "btn btn-success" do %>
		<i class="material-icons">&#xE145;</i>
	<% end %>
	<% if not_desktop? %>
		<%= link_to "#", class: "btn btn-secondary d-lg-none", data: { toggle: "modal", target: "#searchModal" } do %>
	    <i class="material-icons">&#xE8B6;</i>
	  <% end %>
  <% end %>
</div>
<% if not_desktop? %>
  <%= render "admin/common/search_modal" %>
<% end %>