<h1 class="h2">
  <%= User.model_name.human %><%= I18n.t("text.index") %>
</h1>
<table class="table">
  <thead>
    <tr>
      <th style="min-width: 110px;"><%= User.human_attribute_name('name') %></th>
      <th><%= User.human_attribute_name('role') %></th>
      <th>更新時刻</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= I18n.t("activerecord.user_role.#{user.role}") %></td>
        <td><%= timeago(user.updated_at) %></td>
        <td class="text-right">
          <div class="dropdown">
            <button class="btn btn-secondary btn-sm" type="button" data-toggle="dropdown">
              <i class="material-icons">&#xE5D3;</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to I18n.t("text.show"), [:admin, user], class: "dropdown-item" %>
              <%= link_to I18n.t("text.edit") + "する", edit_admin_user_path(user), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <% if policy([:admin, current_user]).destroy? %>
                <%= link_to I18n.t("text.destroy"), [:admin, user], method: :delete, data: { confirm: "#{user.name} を削除しますか？" }, class: "dropdown-item" %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-abs-wrapper">
  <%= link_to new_admin_user_path, class: "btn btn-success" do %>
    <i class="material-icons">&#xE145;</i>
  <% end %>
  <%= link_to "#", class: "btn btn-secondary d-lg-none", data: { toggle: "modal", target: "#searchModal" } do %>
    <i class="material-icons">&#xE8B6;</i>
  <% end %>
</div>
<% if mobile? %>
  <%= render "admin/common/search_modal" %>
<% end %>

<script type="text/javascript">
  $(function() {
    $("time.timeago").timeago();
  });
</script>