<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= favicon_link_tag "favicon.ico" %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ja.js"></script>
  </head>
  <body class='admin <%= "#{controller_name}-controller" %> <%= "#{action_name}-action" %>'>
    <%= render "admin/common/nav_top" if user_signed_in? && controller_name != "sessions" %>
    <div class="container">
      <%= notice_message(dismissible: true, fixed: true) unless controller_name == "sessions" %>
      <%= yield %>
    </div>
  </body>
</html>